/*
 * Northwestern Quest (Genomics Nodes) — adapted from the nf-core/configs
 * institutional profile. Cluster-specific: executor, queues, caps, caches.
 */

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/projects/b1042/singularity_cache"
}

process {
    resourceLimits = [
        memory: 190.GB,
        cpus: 40,
        time: 240.h
    ]
    beforeScript   = 'module purge; module load singularity/latest; module load graphviz/2.40.1; module load java/jdk11.0.10'
    executor       = 'slurm'
    queue          = { task.memory >= 190.GB ? 'genomics-himem' : task.time >= 48.h ? 'genomicslong' : 'genomics' }
    clusterOptions = '-A b1042'

    withLabel: process_gpu {
        queue            = 'b1171'
        clusterOptions   = '-A b1171 --gres=gpu:a100:1'
        accelerator      = 1
        containerOptions = '--nv'
    }
}

executor {
    queueStatInterval = '5min'
    retry.delay       = '1min'
    retry.maxAttempt  = 5
    retry.maxDelay    = '10min'
    pollInterval      = '1min'
    queueSize         = 50
    submitRateLimit   = '10sec'
    queueGlobalStatus = true
}
